<div style="background-color:#FAF3F3; padding: 20px; border-radius: 10px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); border:2px solid #E57373; margin-top: 20px;">
    <h1 style="font-size:24px; font-family:Georgia, serif; color:#D32F2F; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        Credit Card Fraud Detection: Model Training and Analysis
    </h1>
</div>

<div style="background-color:#E6F9E6; padding: 20px; border-radius: 10px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); border:2px solid #66C2A5; margin-top: 20px;">
    <h1 style="font-size:24px; font-family:Georgia, serif; color:#4A90E2; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        About Author
    </h1>
    <div style="text-align:center;">
        <a href="https://www.sak.kesug.com">
            <img src="https://media.licdn.com/dms/image/v2/D4E03AQEa6oE6JdFbTQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1729333367804?e=1741219200&v=beta&t=gCWp1Yr18TkOP3af6-g-2vsRVJgvkvzbnnusC-YDqUc" style="width: 20%; border-radius: 50%;" alt=" Hafiz Kalim Ullah">
        </a>
    </div>
    <h2 style="font-size:20px; font-family:Georgia, serif; color:#333; text-align:center;">Mr.Hafiz Kalim Ullah</h2>
    <p style="font-size:16px; font-family:Georgia, serif; line-height: 1.5em; text-align:center; color:#333;">
        <em>Data Scientist / AI Engineer</em><br>
        <em>Machine Learning | Deep Learning | NLP | Computer Vision</em>
    </p>
    <div style="text-align:center; margin-top: 10px;">
        <a href="https://www.linkedin.com/in/hafizkalimullah/">
            <img width="50" height="50" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin">
        </a>
        <a href="https://github.com/Kalimullah49">
            <img width="50" height="50" src="https://img.icons8.com/ios-glyphs/50/github.png" alt="github">
        </a>
        <a href="https://www.kaggle.com/hafizkalimullah">
            <img width="50" height="50" src="https://img.icons8.com/clouds/100/kaggle.png" alt="kaggle">
        </a>
    </div>
    <div style="text-align:center; margin-top: 20px;">
        <a href="https://ww.hku.kesug.com" style="font-size:18px; font-family:Georgia, serif; color:#4A90E2; text-decoration:none; border:2px solid #4A90E2; padding: 5px 15px; border-radius: 5px;">
            Portfolio Site
        </a>
    </div>
</div>

<div style="background-color:#D0E6F3; padding: 12px; border-radius: 10px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); border:2px solid #66C2A5; margin-top: 12px;">
    <h1 style="font-size:28px; font-family:Georgia, serif; color:#000000; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        Importing Libraries
    </h1>
</div>

In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# importing Classification models from sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

# importing necessary libraries for model evaluation
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score

<div style="background-color:#D0E6F3; padding: 12px; border-radius: 10px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); border:2px solid #66C2A5; margin-top: 12px;">
    <h1 style="font-size:28px; font-family:Georgia, serif; color:#000000; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        Loading Dataset
    </h1>
</div>

In [3]:
#importing dataset which is avail in 6 different files
df = pd.DataFrame()
for i in range(1, 6):
    df = pd.concat([df, pd.read_csv(f"df = pd.read_csv('../../../../datasets/Projects/Credit Card/credit_card_transactions{i}.csv")], axis=0)

<div style="background-color:#D0E6F3; padding: 12px; border-radius: 10px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); border:2px solid #66C2A5; margin-top: 12px;">
    <h1 style="font-size:28px; font-family:Georgia, serif; color:#000000; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        Exploratory Data Analysis
    </h1>
</div>

In [4]:
# showing max clolumns
pd.set_option('display.max_columns', None)

In [5]:
# mid of the df like df.tail() etc
df.sample(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
124521,124521,2019-03-10 14:50:55,30373802285317,fraud_Breitenberg LLC,travel,1.48,Nicholas,Osborne,M,7538 Carrie Meadow Suite 574,Claremont,CA,91711,34.1092,-117.7183,35705,Wellsite geologist,1956-05-15,730b9b59eb21ac457a3414be579e1a5b,1331391055,34.807794,-117.357118,0,92342.0
186097,1050545,2020-03-11 14:27:33,676102124465,fraud_Gulgowski LLC,home,3.21,Natasha,Mclaughlin,F,8699 Lindsay Ford Apt. 486,Napa,CA,94558,38.4549,-122.2564,94014,Airline pilot,1985-08-21,20b9e56bade116d6fa6eb738eaba01de,1363012053,39.403284,-123.145371,0,95469.0
49466,265578,2019-05-12 04:09:46,5540636818935089,fraud_Murray-Smitham,grocery_pos,53.48,Kenneth,Foster,M,329 Michael Extension,Lawrence,MA,1843,42.6911,-71.1605,76383,Geoscientist,1985-04-04,f5e5249d5aade2d30bb26d8e528700d3,1336795786,43.201685,-71.799330,0,3242.0
87222,303334,2019-05-27 13:13:22,2297447006766555,fraud_Schoen-Quigley,kids_pets,38.14,Laura,Walker,F,611 Michael Rue,Cisco,IL,61830,39.9972,-88.6962,478,Landscape architect,1960-01-13,300f9a1039a92fa01d5a14c3c1683163,1338124402,40.193975,-88.424894,0,61853.0
57099,489323,2019-08-02 05:05:57,213113028819344,fraud_Thiel-Thiel,entertainment,5.82,Melanie,Jimenez,F,77944 Daniels Valley Suite 921,Camden,NY,13316,43.3392,-75.7543,6460,Building control surveyor,1959-09-27,689fc9703b298aab434ad9c5f9b00680,1343883957,43.608979,-76.451536,0,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1080560 entries, 0 to 216111
Data columns (total 24 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1080560 non-null  int64
 1   trans_date_trans_time  1080560 non-null  object
 2   cc_num                 1080560 non-null  int64
 3   merchant               1080560 non-null  object
 4   category               1080560 non-null  object
 5   amt                    1080560 non-null  float64
 6   first                  1080560 non-null  object
 7   last                   1080560 non-null  object
 8   gender                 1080560 non-null  object
 9   street                 1080560 non-null  object
 10  city                   1080560 non-null  object
 11  state                  1080560 non-null  object
 12  zip                    1080560 non-null  int64
 13  lat                    1080560 non-null  float64
 14  long                   1080560 non-null  float64
 15  city_pop               1080560 non-null  int64
 16  job                    1080560 non-null  object
 17  dob                    1080560 non-null  object
 18  trans_num              1080560 non-null  object
 19  unix_time              1080560 non-null  int64
 20  merch_lat              1080560 non-null  float64
 21  merch_long             1080560 non-null  float64
 22  is_fraud               1080560 non-null  int64
 23  merch_zipcode          917292 non-null   float64
dtypes: float64(6), int64(6), object(12)
memory usage: 206.1+ MB

In [7]:
df.columns

Index(['Unnamed: 0', 'trans_date_trans_time', 'cc_num', 'merchant', 'category',
       'amt', 'first', 'last', 'gender', 'street', 'city', 'state', 'zip',
       'lat', 'long', 'city_pop', 'job', 'dob', 'trans_num', 'unix_time',
       'merch_lat', 'merch_long', 'is_fraud', 'merch_zipcode'],
      dtype='object')

In [8]:
# removing the unwanted column 'Unnamed: 0'
df.drop('Unnamed: 0', axis=1, inplace=True)

In [9]:
df.shape

(1080560, 23)

In [10]:
# counting the number of object and int64 data types in dataset
df.dtypes.value_counts()

object     12
float64     6
int64       5
Name: count, dtype: int64

In [11]:
df.nunique()

trans_date_trans_time    1062107
cc_num                       967
merchant                     693
category                      14
amt                        49256
first                        349
last                         479
gender                         2
street                       967
city                         880
state                         51
zip                          954
lat                          952
long                         953
city_pop                     866
job                          493
dob                          952
trans_num                1080560
unix_time                1062139
merch_lat                1046446
merch_long               1065948
is_fraud                       2
merch_zipcode              28250
dtype: int64

In [12]:
df.shape

(1080560, 23)

In [13]:
# checking the missing values
df.isnull().sum()/len(df)*100

trans_date_trans_time     0.000000
cc_num                    0.000000
merchant                  0.000000
category                  0.000000
amt                       0.000000
first                     0.000000
last                      0.000000
gender                    0.000000
street                    0.000000
city                      0.000000
state                     0.000000
zip                       0.000000
lat                       0.000000
long                      0.000000
city_pop                  0.000000
job                       0.000000
dob                       0.000000
trans_num                 0.000000
unix_time                 0.000000
merch_lat                 0.000000
merch_long                0.000000
is_fraud                  0.000000
merch_zipcode            15.109573
dtype: float64

As merch_zipcode can not be replaced with mean median mode, so we will drop the missing values

In [14]:
# removing the missing values of merch_zipcode
df = df.dropna(subset=['merch_zipcode'])

In [15]:
# checking the missing values again
df.isnull().sum()/len(df)*100

trans_date_trans_time    0.0
cc_num                   0.0
merchant                 0.0
category                 0.0
amt                      0.0
first                    0.0
last                     0.0
gender                   0.0
street                   0.0
city                     0.0
state                    0.0
zip                      0.0
lat                      0.0
long                     0.0
city_pop                 0.0
job                      0.0
dob                      0.0
trans_num                0.0
unix_time                0.0
merch_lat                0.0
merch_long               0.0
is_fraud                 0.0
merch_zipcode            0.0
dtype: float64

Checking the shape of dataset after removing the missing values

In [16]:
df.shape

(917292, 23)

Checking for Duplicates

In [17]:
# Checking for Duplicates
df.duplicated().sum()

0

It means there are no duplicates in the Dataset

In [18]:
# df.hist(figsize=(20, 20))

<div style="background-color:#D0E6F3; padding: 12px; border-radius: 10px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); border:2px solid #66C2A5; margin-top: 12px;">
    <h1 style="font-size:28px; font-family:Georgia, serif; color:#000000; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        Feature Engineering
    </h1>
</div>

### 1.0 Feature extraction

In [19]:
# first converting the date column to datetime format
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'], format='%Y-%m-%d %H:%M:%S')

In [20]:
# extracting the year, month, day, hour, and minute from the trans_date_trans_time column
df['Year'] = df['trans_date_trans_time'].dt.year
df['month'] = df['trans_date_trans_time'].dt.month
df['day'] = df['trans_date_trans_time'].dt.day

# now dromping the date column
df = df.drop('trans_date_trans_time', axis=1)

### 2.0 Feature Selection:

In [21]:
df.columns.nunique()

25

So I have now to do the feature selection for the credit card fraud detection dataset, as there are `25` columns here in the dataset, i will apply `feature selection` for both the categorical columns and the numeric columns and then select 5 from categorical columns and top 5 from numeric columns.

In [22]:
df.dtypes.value_counts()

object     11
float64     6
int64       5
int32       3
Name: count, dtype: int64

I will make 2 dataframes one for categories and other for numeric data, to make feature selection easy

In [117]:
# making a dataset which include only object data types with is_fraud column included in it
cat = df.select_dtypes(include='object')
cat['is_fraud'] = df['is_fraud']

In [118]:
num = df.select_dtypes(exclude='object')

In [122]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Assuming 'cat' is your DataFrame
X = cat.drop('is_fraud', axis=1)
y = cat['is_fraud']

# Apply Label Encoding to categorical columns
le = LabelEncoder()
for col in X.select_dtypes(include=['object']).columns:
    X[col] = le.fit_transform(X[col])

# Now X contains the encoded categorical features
# Apply SelectKBest using the Chi-Square test
from sklearn.feature_selection import SelectKBest, chi2

bestfeatures = SelectKBest(score_func=chi2, k='all')
fit = bestfeatures.fit(X, y)

# Making a DataFrame of the scores
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

# Concatenate the scores and column names for readability
feature_scores = pd.concat([dfcolumns, dfscores], axis=1)
feature_scores.columns = ['Feature', 'Score']  # Naming the columns
print(feature_scores.nlargest(10, 'Score'))

      Feature          Score
10  trans_num  422446.696656
9         dob   13425.860589
1    category     906.187967
2       first     815.387392
5      street     128.193842
0    merchant      70.616549
3        last      65.806407
4      gender      22.654473
8         job      21.374159
7       state      17.304771

In [124]:
# now using the feature selection for numerical data types
from sklearn.feature_selection import SelectKBest, f_classif

X = num.drop('is_fraud', axis=1)
y = num['is_fraud']

# Apply SelectKBest using the ANOVA F-value test
bestfeatures = SelectKBest(score_func=f_classif, k='all')  # SelectKBest will select the best 'k' features
fit = bestfeatures.fit(X, y)

# Making a DataFrame of the scores
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

# Concatenate the scores and column names for readability
feature_scores = pd.concat([dfcolumns, dfscores], axis=1)
feature_scores.columns = ['Feature', 'Score']  # Naming the columns
print(feature_scores.nlargest(10, 'Score'))

          Feature         Score
1             amt  45921.191560
11          month    180.791909
10           Year     35.201484
12            day     33.717660
6       unix_time     31.121387
9   merch_zipcode      5.795172
8      merch_long      5.609877
4            long      5.469249
3             lat      3.367793
7       merch_lat      3.176610